call Math.init 0
call Output.init 0
call Keyboard.init 0
call Memory.init 0
call Screen.init 0
call Sys.init 0
function Main.add 0
push argument 0
push argument 1
add
return
function Main.main 0
push constant 1
push constant 2
call Main.add 2
push constant 3
push constant 4
call Main.add 2
call Main.add 2
call Output.printInt 1
pop temp 0
