function StaticTest.new 1
push constant 0
call Memory.alloc 1
pop local 0
push local 0
return
function StaticTest.printWord 0
push constant 111
pop static 0
push static 0
call Output.printInt 1
pop temp 0
push constant 0
return
