function ConsumptionTaxCalculator.new 1
push constant 1
call Memory.alloc 1
pop local 0
push argument 0
push local 0
pop pointer 0
pop this 0
push local 0
return
function ConsumptionTaxCalculator.getTax 0
push argument 1
push argument 0
pop pointer 0
push this 0
call Math.multiply 2
return
