function Main.main 1
push constant 2
call ConsumptionTaxCalculator.new 1
pop local 0
push local 0
push constant 100
call ConsumptionTaxCalculator.getTax 2
call Output.printInt 1
pop temp 0
push local 0
push constant 200
call ConsumptionTaxCalculator.getTax 2
call Output.printInt 1
pop temp 0
push constant 0
return
