call Math.init 0
call Output.init 0
call Keyboard.init 0
call Memory.init 0
call Screen.init 0
push constant 1
push constant 2
push constant 3
call Math.multiply 2
add
call Output.printInt 1
pop temp 0
